
@font-face { 
    font-family: 'NanumSquare'; 
    src: url(../../fonts/NanumSquare_acEB.ttf) format('truetype');
    src: url(../../fonts/NanumSquareOTF_acEB.otf) format('opentyle');
	font-weight: 800;
}
@font-face { 
    font-family: 'NanumSquare'; 
    src: url(../../fonts/NanumSquare_acB.ttf) format('truetype');
    src: url(../../fonts/NanumSquareOTF_acB.otf) format('opentyle');
	font-weight: 700;
}
@font-face { 
    font-family: 'NanumSquare'; 
    src: url(../../fonts/NanumSquare_acR.ttf) format('truetype');
    src: url(../../fonts/NanumSquareOTF_acR.otf) format('opentyle');
	font-weight: 400;
}
@font-face { 
    font-family: 'NanumSquare'; 
    src: url(../../fonts/NanumSquare_acL.ttf) format('truetype');
    src: url(../../fonts/NanumSquareOTF_acL.otf) format('opentyle');
	font-weight: 300;
}
